{% extends 'base/base.html' %}

{% block content %}
    <h1 class="text-center text-uppercase">Welcome to the Dahsborad {{ user }}</h1>

    <hr />

    <table class="table table-warning table-striped">
        <thead class="table-warning">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> Province </th>
                <th scope="col"> Country </th>

                <th scope="col"> Date joined </th>

                <th scope="col"> View </th>

            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>

    {% for record in records %}
        {{ record.first_name }}
    {% endfor %}

{% endblock %}
