{% extends 'base/base.html' %}

{% block content %}
        <!--Create a Navbar-->
        <div class="text-center text-uppercase">
            <br />
            <br />
            <h3>System Managment it's your solution</h3>
            <br />
            <h5>Keep track if your records effectively!</h5>
            <hr>
            <br>
            <a href="{% url 'Register' %}" class="btn btn-warning brn-sm text-uppercase" type="button" style="font-family: Arial;">
                Create your Account
            </a>
        </div>

{% endblock %}
